<!DOCTYPE html>
{% load static %}
<html>

<head>
<meta charset="utf-8">
<title>Phising URL||Detection</title>
<!-- Custom CSS -->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/STYLEBASE.css' %}">



</head>

<body>

<div class="topnav" id="myTopnav">
  <a href="{% url 'main_page' %}" class="active">Home</a>
  <a href="{% url 'URL_page' %}#">URL Detection</a>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<div class="container">
{% block body_block %}
{% endblock %}
</div>


<script src="{% static 'js/appbase.js' %}"></script>



</body>



</html>